 @font-face {
   font-family: pricedow;
   src: url(fonts/pricedow.ttf);
 }

 * {
   box-sizing: border-box;
 }

 a {
   color: #2f655b;
 }

 a:hover {
   color: #f08d06;
 }

 footer a {
   color: #88dacb;
 }

 footer a:hover {
   color: #f08d06;
 }

 body {
   font-family: "Commissioner", sans-serif;
   font-size: 20px;
   line-height: 1.6rem;
   color: #333;
   /* background: orange; */
   /* background:
     radial-gradient(closest-side, #2f655b, #faeea0) 0/ .3em .3em space,
     linear-gradient(80deg, #2f655b, #faeea0); */
   /* border: 22px dotted yellow; */
   border-radius: 40px;
   margin: 30px;
   background:
     /* 1 */
     var(--pattern,
       radial-gradient(closest-side, #2f655b, #faeea0) 0/ .6em .6em space),
     var(--map,
       linear-gradient(70deg, #9a8a22, #faeea0));
   background-blend-mode: hard-light;
   /* filter: contrast(21) */
   /* 3 */

 }

 h1 {
   font-family: pricedow;
   font-size: 100px;
   font-weight: 400;
   line-height: 4.8rem;
   background: linear-gradient(to top, #f6b952, #efe292);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
 }

 h1 span.big {
   display: block;
   font-size: 10rem;
 }

 h1 span.indent {
   margin-left: 105px;
 }

 .container {
   background: #2a5f54;
   width: auto;
   margin: 20px;
   border: 10px solid #efe292;
   padding: 0 20px;

 }

 header,
 main,
 footer {
   margin: 20px;
 }

 footer {
   padding: 60px;
 }

 .cards {
   display: grid;
   grid-template-columns: 400px 400px;
   grid-gap: 60px;
 }


 .card {
   border-top-left-radius: 60px;
   border-bottom-right-radius: 60px;
   padding: 20px;
   display: flex;
   justify-content: center;

   /* background:
     radial-gradient(closest-side, #2f655b, #faeea0) 0/ .4em .4em space,
     linear-gradient(90deg, #2f655b, #faeea0); */

 }

 .grainy-gradient {
   background-image: linear-gradient(135deg, #fcf7ab, #fdf8ca, #fcf7a7);
   filter: saturate(50%);
   /* Apply the grain effect */
   position: relative;
   overflow: hidden;
 }

 .grainy-gradient::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   filter: url(#grainy-filter);
   opacity: 0.10;
   mix-blend-mode: normal;
   pointer-events: none;
 }

 .card p {
   /* border-radius: calc(20px - 10px); */
   margin: 0;
   height: 300px;
   width: 360px;
   padding: 20px;
   text-align: center;
 }

 img {
   max-width: 100%;
   max-height: 180px;
 }

 footer {
   margin: 80px auto;
   color: #faeea0;
 }

 @media only screen and (max-width: 968px) {
   body {
     border-radius: 40px;
     margin: 16px;
   }

   .container {
     margin: 10px;
   }

   .cards {
     grid-template-columns: 1fr;
   }

   h1 {
     line-height: 1.6rem;
     margin-top: 0;
     padding-top: 16px;
   }

   h1 span.big {
     display: block;
     font-size: 6rem;
   }

   h1 span.indent {
     font-size: 2.4rem;
     margin-left: 65px;
   }

   header,
   main,
   footer {
     display: flex;
     justify-content: center;
   }
 }


 .grainy-body {
   background-image: linear-gradient(135deg, #1d6a5e, #2a766a, #1e695d);
   filter: saturate(100%);
   /* Apply the grain effect */
   position: relative;
   overflow: hidden;
 }

 .grainy-body::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   filter: url(#grainy-filter);
   opacity: 0.10;
   mix-blend-mode: normal;
   pointer-events: none;
 }