* {
  box-sizing: border-box;
}

body {
  font-family: Commissioner, sans-serif;
  margin: auto;
  font-size: 20px;
  background: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
}


a {
  color: black;
}

a:hover {
  color: rgb(199, 4, 199);
}

h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 2.2rem;
  color: #333;
}

h2 {
  color: #333;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-top: 0;
  max-width: 600px;

}

.break {
  display: none;
}

.wrapper {
  padding: 40px;
  width: 100vw;
  margin: auto;
  background-color: #fff;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 10px 0 0;
}

.qimg {
  display: inline-block;
  max-height: 200px;
  padding-bottom: 16px;
}

button {
  color: black;
  background: #ebf8fd;
  border: 1px solid #cfcece;
}


button:hover {
  border: 1px solid #868484;
  box-shadow: inset 0 0 12px #9bc1c6;
  cursor: pointer;
}

.answers button {
  display: block;
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 1rem;

}

.feedback {
  margin: 16px 0;
  padding: 16px 20px;
  border-radius: 15px;
}

.feedback h3 {
  margin: 0;
}

.feedback p {
  margin: 10px 16px;
  color: #333;
}

.correct {
  background: #d4edda;
  color: #155724;
}

.wrong {
  background: #f8d7da;
  color: #721c24;
}

.progress-container {
  width: 100%;
  margin: 15px 0;
  background-color: #ebf8fd;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #a8a6a1;
}

.progress-bar {
  height: 20px;
  background: #4caf50;
  width: 0%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.nav-buttons {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.nav-buttons button {
  margin-right: 10px;
  padding: 12px 24px;
  background: #c1eef6;
  border-radius: 12px;
  border: 1px solid #7a7979;
  font-weight: bold;
  font-size: 16px;

}

.nav-buttons button#restart {
  cursor: alias;
}

footer {
  width: 100vw;
  padding: 30px;
  background: #666;
  color: #fff;
  text-align: center;
}


footer a {
  color: #fff;
}

@media only screen and (max-width: 968px) {


  .qimg {
    max-height: 160px;
    text-align: center;
  }
}